<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vlad Trung - Profile</title>
    <meta name="description" content="Personal profile and portfolio of Vlad Trung">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="profile-container">
        <h1>My Profile</h1>
        <img src="../static/profile.jpg" alt="Profile Picture" class="profile-image">
        <p class="bio">
            Hello! My name is Vlad Trung. I am now studying at ITMO University, Saint Petersburg, Russia.</br>
            I enjoy working with Python, Flask, and modern frontend technologies like HTML, CSS, and JavaScript.</br>
            My favourite game is GTA Vice City.</br>
        </p>
        <ul class="skills">
            <li>HTML/CSS</li>
            <li>Python</li>
            <li>JavaScript</li>
            <li>Flask</li>
        </ul>
        <button id="music-toggle">Play Me</button>
        <audio id="background-music" loop>
            <source src="../static/Gta Vice City Theme.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <script src="../static/script.js"></script>
    </div>
</body>

</html>